# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Logs
logs/
*.log

# dotenv environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Optional: Ignore build artifacts
dist/
build/
out/
list
auth link
