<div class="line sponsor">

    <div class="shiftleft">
        <div class="bigtext closeLineHeight">
            <div class="header mb-0">All Credits Logs are Available on</div>
            <div class="biggertext">psp.flourek.dev</div>
        </div>

    </div>


</div>