<div class="line">
    <div class="header">MODERATORS</div>
    <% 
        const moderators = (data.stream.moderatorsSorted || data.stream.moderators || []);
        if (moderators.length > 0) {
            const topMods = moderators.slice(0, 3);
            const cosmeticMods = moderators.slice(3);
    %>
        <% if (topMods.length > 0) { %>
        <div class="line-content">
            <div class="left">Most Useful</div>
            <div class="right">
                <% topMods.forEach(mod => { %>
                    <div><%= mod %></div>
                <% }); %>
            </div>
        </div>
        <% } %>
        <% if (cosmeticMods.length > 0) { %>
        <div class="line-content">
            <div class="left">Cosmetic</div>
            <div class="right">
                <% cosmeticMods.forEach(mod => { %>
                    <div><%= mod %></div>
                <% }); %>
            </div>
        </div>
        <% } %>
    <% } %>
</div>