<div class="line">
    
    <div class="header">RAIDS</div>
    <% if (data.raid.raiders && data.raid.raiders.length > 0) { %>
        <% data.raid.raiders.forEach(raider => { %>
            <div class="line-content ">
                <div class="left  ">
                    <% if (raider.viewers < 10) { %>
                        <%= raider.viewers %> Million Raiders
                    <% } else { %>
                        <%= raider.viewers %> Thousand Raiders
                    <% } %>
                </div>
                <div class="right"><%= raider.username %></div>
            </div>
        <% }); %>
    <% } %>
     <div class="line-content bigtext shiftleft">
        <%= data.raid.totalViewers %> Total Raiders 
    </div>
</div>