<% if (data.watchStreak && Object.keys(data.watchStreak).length > 0) { %>
<div class="line">
    <div class="header">LONGEST WATCH STREAKS</div>
    <br>
    <div class="container-fluid chatters">
        <div class="row">
            <% 
            const topChattersArray = Object.entries(data.watchStreak)
                .sort((a, b) => b[1] - a[1])
                .slice(0, 20);
            const leftColumn = topChattersArray.filter((item, idx) => idx % 2 === 0);
            const rightColumn = topChattersArray.filter((item, idx) => idx % 2 === 1);
            %>
            <!-- Left Column -->
            <div class="col-5">
                <% leftColumn.forEach(([name, count]) => { %>
                    <div class="line-content">
                        <div class="left bigtext shiftright"><%= count %></div>
                        <div class="right"><%= name %></div>
                    </div>
                <% }); %>
            </div>
            
            <!-- Right Column -->
            <div class="col-5">
                <% rightColumn.forEach(([name, count]) => { %>
                    <div class="line-content">
                        <div class="left bigtext shiftright"><%= count %></div>
                        <div class="right"><%= name %></div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    <div class="header">(Only Ones Redeemed Today Are Shown)</div>
</div>

<% } %>
