<% if (data.raid.raiders && data.raid.raiders.length > 0) { %>
<div class="line">
    
    <div class="header">RAIDS</div>
        <% data.raid.raiders.forEach(raider => { %>
            <div class="line-content ">
                <div class="left  ">
                    <% 
                        const randomUnits = ['Million', 'Thousand', 'Trillion', 'Billion', 'Hundred'];
                        const randomUnit = randomUnits[Math.floor(Math.random() * randomUnits.length)];
                    %>
                    <%= raider.viewers %> <%= randomUnit %> Raiders
                </div>
                <div class="right"><%= raider.username %></div>
            </div>
        <% }); %>
        <div class="line-content bigtext shiftleft">
            <%= data.raid.totalViewers %> Total Raiders 
        </div>
    </div>
<% } %>