body {
    background: #1a1a1a;
    font-family: sans-serif;
    margin: auto;
    width: 1850px;
    text-align: center;
    font-size: 2rem;
    color: #ccc;
    position: absolute;
  }
  
@font-face {
  font-family: 'CustomFont';
  src: url('./FONT.otf') format('opentype');
}



/* Hide scrollbars everywhere */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Hide scrollbars for WebKit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbars for html and body */
html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}





/* CRT */

  html { 
        text-shadow: 0.03rem 0 0.03rem #ea36afcc, -0.06rem 0 0.01rem #75fa69cc;
        letter-spacing: 0.06em;
        animation-duration: 0.001s;
        animation-name: textflicker;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        filter: blur(0.8px);
        }

 @keyframes textflicker {
    from {
      text-shadow: 1px 0 0 #d32e98cc, -2px 0 0 #6ac05fcc;
    }
    to {
      text-shadow: 2px 0.5px 2px #d32e98cc, -1px -0.5px 2px #6ac05fcc;
    }
  }

/* END CRT */

*{
  font-family: 'CustomFont', sans-serif;
  letter-spacing: 0.2rem;
  color: rgb(233, 233, 233);
}

  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  a b {
    font-size: 4em;
    color: #7733ff;
    text-shadow: 0 0 4px black;
  }
  
  #intro {
    display: flex;
    align-items: center;
    gap: 2em;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .button {
    display: inline-block;
    padding: 8px 16px;
    background: #4d1ab3;
    border: 2px solid #7733ff;
    border-radius: 0.25em;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  .button:hover {
    background: #5916df;
  }
  .button:active {
    background: #6a25f4;
  }
  
  #user:not(:empty):after {
    content: "'s emotes";
  }
  
  #emotes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2px;
    margin-top: 1em;
  }
  #emotes .emote picture {
    vertical-align: middle;
    margin-right: 4px;
    height: 28px;
  }
  
  #filters {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  #filters:has(#animated:checked) ~ #emotes .emote:not([data-format~=animated]) {
    display: none;
  }
  
  @media (prefers-reduced-motion) {
    #filters label:has(#animated):after {
      content: "(Reduced motion is enabled)";
    }
  }

  #scrolling {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 150%;
  display: block;
  position: absolute;
  left: 1.7rem;

  transform: scaleX(0.9);
}

  #logocontainer {
    width: 100vw;
    height: 100vh;
    background-color: black;
  }
  
  #psplogo{
    width: 71vw !important;
  display: none;
  left: 230px;
  position: absolute;
  top: -106px;
}

#background{
  width: 100vw;
  top: -10vh;
  left: 0;
  position: absolute;
  height: 112vh;
  z-index: -1;
}

.line {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 10px 0;
}



.twoColumnsCentered {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    width: 100vw;
    margin: 10px 0;

}

.header {
  width: 100%;
  text-align: center;
  font-size: 3.7rem;
  line-height: 5rem;
  margin-bottom: 0.7rem;
  margin-top: 5rem;
  transform: translateX(-1.5rem);
}
.line-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
}

 .left,  .right {
    flex: 1;
    padding: 0 15px;
    line-height: 2.5rem;

}

 .left {
    text-align: right;
    font-size: 4.2rem !important;
    margin-right: 67px;
}



 .right {
    text-align: left;
    font-size: 5rem !important;
    margin-right: 50px;
    line-height: 2.8rem;
    text-transform: uppercase1;
}

.twoColumnsCentered .left, .twoColumnsCentered .right {
    text-align: center !important;
    margin: 0px !important;

}

.spacer {
    height: 5rem;
    flex-shrink: 0; /* Prevents the spacer from shrinking in flex containers */
}


#director {
    font-size: 6rem;
    height: 4rem;
    transform: translateY(-1rem) translateX(-1.5rem);
}

.empty-role{
  height: 1.5rem;
}